<!-- 
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="" class="navbar-brand">SE Tools</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/publishers" class="nav-link" routerLinkActive="active-link">Publisher</a>
      </li>
      <li class="nav-item">
        <a href="http://138.197.53.169/" class="nav-link" routerLinkActive="active-link">Podscribe Simplecast Shows</a>
      </li>
    </div>
  </nav> -->
  <div class="wrapper">
    <app-nav></app-nav>
  </div>
