<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      role="navigation" mode="side"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/" class="nav-link" routerLinkActive="active-link">Home</a>
      <a mat-list-item href="http://138.197.53.169/" class="nav-link" routerLinkActive="active-link">Podscribe Simplecast Shows</a>
      <a mat-list-item href="/scdash" class="nav-link" routerLinkActive="active-link">Simplecast Dashboard</a>
      <a mat-list-item href="/amaxdash" class="nav-link" routerLinkActive="active-link">Audiomax Dashboard</a>
      <a mat-list-item href="/amaticdash" class="nav-link" routerLinkActive="active-link">Audiomatic Dashboard</a>
      <a mat-list-item href="/aservedash" class="nav-link" routerLinkActive="active-link">Audioserve Dashboard</a>
      <a mat-list-item href="/poddash" class="nav-link" routerLinkActive="active-link">Podscribe Dashboard</a>
      <a mat-list-item href="/vast" class="nav-link" routerLinkActive="active-link">Vast Test</a>
      <a mat-list-item href="/metadata" class="nav-link" routerLinkActive="active-link">Metadata Test</a>
      <!-- <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>setools</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
